.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
    color: darkred;
}

.timer {
    font-size: 72px;
    color: black;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}

button:hover {
    opacity: .7;
}

#start {
    background-color: green;
}

#stop {
    background-color: orangered;
}

#reset {
    background-color: gray;
}





